<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
</head>
<body class="bg-gray-100 text-gray-800">
<div class="container mx-auto py-12">
    <h1 class="text-3xl font-bold">Admin Dashboard</h1>
    <p>Welcome <span th:text="${#authentication.name}"></span>, Here you can manage the application.</p>

    <div>
        <p>Your roles:</p>
        <ul>
            <li th:each="role : ${#authentication.authorities}" th:text="${role.authority}">ROLE_USER</li>
        </ul>
    </div>


</div>
</body>
</html>