<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A brief description of the page.">
    <meta name="author" content="Your Name or Company Name">
    <title>Error</title>
</head>
<body>
<div class="container">
    <h1>An Error Has Occurred</h1>
    <!-- Display the error message -->
    <p th:text="${#messages}">An unexpected error occurred. Please try again later.</p>
    <a href="/index">Back to Home</a>
</div>
</body>
</html>