<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A brief description of the page.">
    <meta name="author" content="Your Name or Company Name">
    <title>Error</title>
</head>
<body>
    <h1>An Error Has Occurred</h1>
    <p th:text="${#messages}"></p>
    <a href="/hotels">Back to Hotels</a>
</body>
</html>